<form method="POST" action="/edit/{{product._id}}">
	<h2>Create Product</h2>
	<div>
		<label for="category">Category</label>
		<select name="category" id="category">
			{{#each categories}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
	</div>
	<div>
		<label for="imageUrl">Image Url</label>
		<input id="imageUrl" name="imageUrl" type="text" value="{{product.image}}">
	</div>
	<div>
		<label for="size">Size</label>
		<input id="size" name="size" type="number" value="{{product.size}}">
	</div>
	<div>
		<strong>Toppings</strong>
		<br>
		<textarea name="toppings">{{product.toppings}}</textarea>
	</div>
	<div>
		<input type="submit" value="Edit" class="button" style="border:0" />
	</div>
</form>